<script>
    $(function () {
        $("#donut-chart").highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                backgroundColor: null,
                type: 'pie'
            },
            title: {
                text: "Breakdown of languages"
            },
            tooltip: {
                pointFormat: "<b>{point.y}</b> lines"
            },
            plotOptions: {
                pie: {
                    center: ['50%', '50%'],
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        format: '<b>{point.name}</b>: {point.percentage:.1f}%'
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Language share',
                point: {
                    events: {
                        click: function(e) {
                            location.href = "/language/" + e.point.name;
                            e.preventDefault();
                        }
                    }
                },
                data: [
                    {{range .fileStats}}
                        [{{.Language}}, {{.Lines}}],
                    {{end}}
                ],
                innerSize: '50%'
            }]
        });
    });
</script>
