{{set . "title" "Github Stats"}}
{{template "header.html" .}}
<h2>{{delim .lines}} lines processed</h2>
<div class="row">
  <div class="col-xs-8">
    <div id="donut-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>
  <div class="col-xs-4">
    <table class="table table-hover table-condensed table-striped" >
      <tr>
        <th>Name</th>
        <th>Line Count</th>
      </tr>
      {{range .fileStats}}
        <tr>
            <td><a href="/language/{{.Language}}">{{.Language}}</a></td>
          <td>{{delim .Lines}}</td>
        </tr>
      {{end}}
    </table>
  </div>
</div>
{{template "pie-chart.html" .}}

{{template "footer.html" .}}
