{{set . "title" "Github Stats"}}
{{template "header.html" .}}
<h2 class="text-center">{{delim .lines}} lines processed</h2>
<br>
<div class="row">
  <div class="col-md-7">
    <div id="donut-chart" ></div>
    <div id="repo-chart" ></div>
  </div>
  <div class="col-md-5">
    <table class="table table-hover table-condensed table-striped" >
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Line Count</th>
      </tr>
      {{range .dbLineStats}}
        <tr>
          <td>{{.Count}}</td>
          <td><a href="/languages?language={{.Language}}">{{.Language}}</a></td>
          <td>{{delim .Lines}}</td>
        </tr>
      {{end}}
    </table>
  </div>
</div>
{{template "pie-chart.html" .}}

<script>
    $(function () {
        $("#repo-chart").highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                backgroundColor: null,
                type: 'pie'
            },
            title: {
                text: "Breakdown of languages by repository count"
            },
            tooltip: {
                pointFormat: "<b>{point.y}</b> repositories"
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        format: '<b>{point.name}</b>: {point.percentage:.1f}%'
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Language share',
                point: {
                    events: {
                        click: function(e) {
                            location.href = "/language/" + e.point.name;
                            e.preventDefault();
                        }
                    }
                },
                data: [
                    {{range .repoStats}}
                        [{{.Language}}, {{.Count}}],
                    {{end}}
                ],
                innerSize: '50%'
            }]
        });
    });
</script>

{{template "footer.html" .}}
