{{set . "title" "Github Stats"}}
{{template "header.html" .}}

<div class="row">
    <div class="col-xs-6">
        <br>
        <br>
        <br>
        <h1><a href="https://github.com/{{.repo.Owner}}/{{.repo.Name}}">{{.repo.Name}}</a></h1>
        <h4><i>by <a href="/user/{{.repo.Owner}}">{{.repo.Owner}}</a></i></h4>
        <br>
        <h4>{{.repo.Description}}</h4>
        <h4>{{.repo.Forks}} forks</h4>
        <br />
    </div>
    <div class="col-xs-6">
        <div id="donut-chart"></div>
    </div>
</div>
<table class="table table-hover table-condensed table-striped">
    <tr>
        <th>Name</th>
        <th>code</th>
        <th>comment</th>
        <th>blank</th>
        <th>language</th>
    </tr>
    {{range .files}} 
        <tr>
            <td>{{.Name}}</td>
            <td>{{.Code}}</td>
            <td>{{.Comment}}</td>
            <td>{{.Blank}}</td>
            <td>{{.Language}}</td>
        </tr>
    {{end}}
</table>

{{template "pie-chart.html" .}}
{{template "footer.html" .}}
