{{set . "title" "Github Stats"}}
{{template "header.html" .}}

<div class="row">
    <div class="col-md-6">
        <br>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <img width="200" height="200" src="{{.user.AvatarUrl}}" class="img-rounded">
            </div>
            <div class="col-sm-6">
                <h1><a href="https://github.com/{{.login}}">{{.login}}</a></h1>
                <h3>{{.user.Name}}</h3>
                <h4>{{.user.Email}}</h4>
                <h4><i>{{.repoCount}} repositories</i></h4>
                <br />
            </div>
        </div>
        <br>
        {{ if neq .working true }}
        <div class="well">
            <h5>
                Last updated {{formatDate .user.LastProcessed}}
                <a href="/update/{{.user.Login}}">
                    <button type="submit" class="btn btn-primary">Update Again</button>
                </a>
            </h5>
        </div>
        {{else}}
        <div class="well">
            <h5>User being processed...</h5>
            <h5><strong>Please wait</strong></h5>
        </div>
        {{end}}

    </div>
    <div class="col-md-6">
        <div id="donut-chart"></div>
    </div>
</div>
<table class="table table-hover table-condensed table-striped">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Language</th>
    </tr>
    {{range .repos}} 
        <tr>
            <td><a href="/repo/{{.Id}}">{{.Name}}</a></td>
            <td>{{.Description}}</td>
            <td>{{.Language}}</td>
        </tr>
    {{end}}
</table>

{{template "pie-chart.html" .}}


{{template "footer.html" .}}
